<div class="card" style="width:600px; height:400px;">
    <div class="card-header card-header-info">
        <h4 class="card-title ">{{system.name}} - {{system.version}} - Released: {{system.release_date | timeAgo}}</h4>
        <!-- <p class="card-category">hello </p> -->
    </div>
    <div class="card-body">
        <mat-tab-group [backgroundColor]="background" [color]="color">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="material-icons">table_chart</i> Trivial
                </ng-template>
                <line-chart-demo [(lineChartDataRaw)]="trivialLineChartData"></line-chart-demo>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="material-icons">table_chart</i> Major
                </ng-template>
                <line-chart-demo [(lineChartDataRaw)]="majorLineChartData"></line-chart-demo>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="material-icons">table_chart</i> Critical
                </ng-template>
                <line-chart-demo [(lineChartDataRaw)]="CriticalLineChartData"></line-chart-demo>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="material-icons">table_chart</i> Blocker
                </ng-template>
                <line-chart-demo [(lineChartDataRaw)]="blockerLineChartData"></line-chart-demo>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>